---
layout: base
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}


  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}


  {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts -%}
      <li>
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    {% if site.paginate %}
      <div class="pager">
        <ul class="pagination">
          {% if paginator.total_pages > 1 %}
            <!-- Previous Link -->
            {% if paginator.previous_page %}
              <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous">Previous</a></li>
            {% else %}
              <li><div class="pager-edge">•</div></li>
            {% endif %}

            <!-- Page Numbers -->
            {% for page_num in (1..paginator.total_pages) %}
              {% if page_num == paginator.page %}
                <li><div class="current-page">{{ page_num }}</div></li>
              {% elsif page_num == 1 %}
                <li><a href='{{ "/" | relative_url }}' class="page_number">{{ page_num }}</a></li>
              {% else %}
                <li><a href="{{ site.paginate_path | replace: ':num', page_num | relative_url }}" class="page_number">{{ page_num }}</a></li>
              {% endif %}
            {% endfor %}

            <!-- Next Link -->
            {% if paginator.next_page %}
              <li><a href="{{ paginator.next_page_path | relative_url }}" class="next">Next</a></li>
            {% else %}
              <li><div class="pager-edge">•</div></li>
            {% endif %}
          {% endif %}
        </div>
      </div>
    {%- endif %}

  {%- endif -%}

</div>
